<div [@routerTransition]>
  <item-navigation  [heading]="'Create Item'" [icon]="'fa-minus'" [modifyAction]="'Cancel'" [actionUrl]="'items'"></item-navigation>
  <div class="row">
      <div class="col-md-10 push-1">
        <p *ngFor="let alert of formErrors">
          <ngb-alert [type]="'danger'" (close)="closeAlert(alert)">- {{ alert }}</ngb-alert>
        </p>
          <form #itemsForm="ngForm" role="form" (ngSubmit)="onsubmit()">

              <div class="form-group">
                <div class="row">
                  <label class="col-3 control-label">Name</label>
                  <div class="col-8">
                    <input [(ngModel)]="model.name" required name="name" class="form-control" placeholder="Enter text">
                  </div>
                </div>
              </div>

              <fieldset class="form-group">
                <div class="row">
                  <label class="col-3 control-label">Category</label>
                  <div class="col-8">
                    <select [(ngModel)]="model.category" required name="category" class="form-control">
                        <option value="" selected>- - Choose Category - -</option>
                        <ng-container *ngFor="let row of categories">
                          <option *ngIf="row.searchable" [value]="row.name" >
                            {{row.name}}
                          </option>
                        </ng-container>
                    </select>
                  </div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="row">
                  <label class="col-3 control-label">Description</label>
                  <div class="col-8">
                    <textarea [(ngModel)]="model.description" required name="description" class="form-control" rows="3"></textarea>
                  </div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="row">
                  <label class="col-3 control-label">keyphrases for Search</label>
                  <div class="col-8">
                    <textarea [(ngModel)]="model.keyphrases" required name="keyphrases" class="form-control" rows="3"></textarea>
                  </div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="row">
                  <label class="col-3 control-label">Category Tag</label>
                  <div class="col-8">
                    <select [(ngModel)]="model.categoryTag" required name="categoryTag" class="form-control">
                        <option value="None" selected>- - Choose Tag - -</option>
                        <ng-container *ngFor="let row of categories">
                          <option *ngIf="!row.searchable" [value]="row.name" >
                            {{row.name}}
                          </option>
                        </ng-container>
                    </select>
                  </div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="row">
                  <label class="col-3 control-label"></label>
                  <div class="col-8">
                    <h4 class="text-warning">*Create item to add images</h4>
                  </div>
                </div>
              </fieldset>

              <!-- <fieldset class="form-group">
                <div class="row">
                  <label class="col-3 control-label" for="exampleInputFile">Main Image</label>
                  <div class="col-8">
                    <input (change)="fileEvent($event, 'mainImage')" required type="file" class="form-control-file">
                  </div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="row">
                  <label class="col-3 control-label" for="exampleInputFile">Extra Image 1</label>
                  <div class="col-8">
                    <input (change)="fileEvent($event, 'extraImage1')" type="file" class="form-control-file">
                  </div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="row">
                  <label class="col-3 control-label" for="exampleInputFile">Extra Image 2</label>
                  <div class="col-8">
                    <input (change)="fileEvent($event, 'extraImage2')" type="file" class="form-control-file">
                  </div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="row">
                  <label class="col-3 control-label" for="exampleInputFile">Extra Image 3</label>
                  <div class="col-8">
                    <input (change)="fileEvent($event, 'extraImage3')" type="file" class="form-control-file">
                  </div>
                </div>
              </fieldset> -->

              <button type="submit" class="btn btn-success">Create</button>
              <a routerLink="/items" class="btn btn-warning">
                Cancel
              </a>

          </form>

      </div>
  </div>
</div>
